*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

/*titolo*/ 

.titolo{
    height: 100px;
    background-color: white;
}

.logo-header{
    height: 70px;
    margin: 15px 20px;
    float: left;
}

.logo-read{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 25px;
}

/*corpo*/

.container-button{
    width: 70%;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
}

.task{
    background-color: rgb(150, 150, 218);
    padding: 15px;
    line-height: 5px;
    border-radius: 10%;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    
}

.section{
    background-color: white;
    padding: 15px;
    line-height: 5px;
    border-radius: 10%;
    border: 1px solid gray;
    color: gray;   
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/*lista opzioni*/

.container-selection{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    height: 550px;
    margin: 1px auto;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.choose{
    margin-left: 50px;
}

ul{
    list-style-type: none;
}

.first::before{
    content: '\25BC';
    padding: 5px;
}

.first{
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    
}


.second::before{
    content: '\2713';
    color: green;
    padding: 5px;
    border: 1px solid green;
    border-radius: 100%;
}

.second{
    margin-bottom: 20%;
}

.third::before{
    content: '\2717';
    color: red;
    padding: 5px;
    border: 1px solid red;
    border-radius: 100%;

}
